.panel-group {
    margin-top: 0px;
}

.panel-collapse {
    max-height: 500px;
    overflow: hidden;
    transition: max-height .5s ease;
    background-color: var(--bg);
    color: var(--light);
    padding-left: 15px;
}

.panel-close {
    max-height: 0;
}

.recipe-card {
    padding: 0px !important;
    background-color: var(--primary) !important;
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100% !important;
    margin: 10px !important;
    -webkit-box-shadow: 0px 0px 3px 4px rgba(80, 125, 188, 0.16);
    -moz-box-shadow: 0px 0px 3px 4px rgba(80, 125, 188, 0.16);
    box-shadow: 0px 0px 3px 4px rgba(80, 125, 188, 0.16);

}

.recipe-image {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.recipe-title {
    background-color: var(--primary);
    padding: 5px;
    margin: 0 !important;
    height: 50px;
    font-size: 14px;
}

.card-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg);
    padding: 8px;
}

.icon-details {
    color: var(--light);
}

.wrapper {
    position: relative;
    float: left;
}

.badge {
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
    top: -5px;
    right: -20px;
}

.minuts {
    right: -33px;
}

.miss-ingredients-list {
    list-style-type: disc;
    margin-left: 10px
}

.recipe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-detail {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.recipe-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.centered {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffe2d1;
    background-color: #f05d5e;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.recipe-data {
    display: flex;
    justify-content: center;
}

.recipe-icons {
    background-color: #13C7B6;
    padding: 5px;
    display: flex;
    color: #ffe2d1;
    justify-content: space-evenly;
    margin-top: 10px;

}

.line-hr {
    margin: 8px 0;
}

.recipe-div {
    margin: 10px;
    display: flex;
    border: 1px solid var(--primary);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.info-file {
    display: flex;
    align-items: center;
}

.info-icon-profile {
    color: var(--bg);
    font-size: 16px;
    border: none !important;
    margin: 0 8px
}

.text-title {
    font-size: 14px;
    color: var(--text)
}

.recipes-icons {
    display: flex;
    align-items: center
}

.my-recipe-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.img-details {
    width: 100%;
    max-height: 180px;
}

.recipe-detail-div {
    margin: 10px !important;
    padding-top: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.details-title {
    color: var(--light);
    font-size: 25px;
}

.details-list li {
    font-size: 14px;
    color: var(--text);
    margin-bottom: 10px;
}

.link-user {
    color: var(--primary) !important;
    font-size: 14px !important
}

.details-list i {
    color: var(--primary);
}

.details-list {
    display: flex;
    flex-direction: column;
}

.details-info-title {
    background-color: #FFF3D6;
    color: var(--text);
    padding: 10px
}

.icon-detail-edit {
    color: green;
    border-color: green;
}

.info-principal {
    background-color: var(--bg);
    margin-bottom: 10px;
    padding-bottom: 5px
}

.owner-avatar {
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    object-fit: cover;
}

li {
    list-style: none;
}

ul {
    padding: 0
}

@media (min-width:600px) {

    .recipe-detail-div {
        margin: 10px 180px !important;
    }

    .my-recipe-image {
        width: 80px;
        height: 80px;
    }

    .text-title {
        font-size: 20px;
    }

    .info-icon-profile {
        font-size: 20px;
        margin: 0 15px;
    }

    .info-principal {
        margin-top: 10px;
        font-size: 25px;
    }

    .details-list li {
        font-size: 20px;
    }

    .img-details {
        max-height: 250px;
        object-fit: contain
    }

    .owner-avatar {
        width: 80px;
        height: 80px;
    }

    .link-user {
        font-size: 20px !important
    }
}