.panel-group {
    margin-top: 0px;
}

.panel-collapse {
    max-height: 500px;
    overflow: hidden;
    transition: max-height .5s ease;
    background-color: var(--bg);
    color: var(--light);
    padding-left: 15px;
}

.panel-close {
    max-height: 0;
}

.recipe-card {
    padding: 0px !important;
    background-color: var(--primary) !important;
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100% !important;
    margin: 10px !important;
}

.recipe-image {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.card-title {
    background-color: var(--primary);
    padding: 5px;
    margin: 0 !important;
    height: 50px;
    font-size: 14px;
}

.card-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg);
    padding: 8px;
}

.icon {
    color: var(--light);
}

.wrapper {
    position: relative;
    float: left;
}

.badge {
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
    top: -5px;
    right: -20px;
}

.minuts {
    right: -33px;
}

.miss-ingredients-list {
    list-style-type: disc;
    margin-left: 10px
}

/* DETAILS */

.recipe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-detail {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.recipe-info {
    /* border: solid red 2px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.centered {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffe2d1;
    background-color: #f05d5e;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.recipe-data {
    /* border: solid red 2px; */
    display: flex;
    justify-content: center;
}

.recipe-icons {
    background-color: #13C7B6;
    padding: 5px;
    display: flex;
    color: #ffe2d1;
    justify-content: space-evenly;
    margin-top: 10px;

}

.line-hr {
    margin: 8px 0;
}

.cook-instructions p {
    /* border: solid 1px green; */
    /* color: #004e98; */
}



li {
    list-style: none;
}

ul {
    padding: 0
}

@media (min-width:600px) {
    .recipe-card {
        /* margin: 2px!important */
    }
}