.profile-container {
    display: flex;
}

.profile-info-div {
    margin: 10px 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nickname {
    font-size: 14px;
    color: var(--secondary);
    font-weight: bold;
    margin-bottom: 5px !important;
}

.quote {
    font-size: 12px;
    font-style: italic;
}

.user-nickname p {
    margin: 0
}

.profile-picture {
    border-radius: 50%;
    border: 2px solid var(--primary);
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.edit-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 55px;
    left: 5px;
    background-color: var(--primary);
    border-radius: 50%;
    padding: 3px
}

.custom-file-input-profile::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input-profile::before {
    content: 'Select a photo';
    display: inline-block;
    border: 1px solid var(--primary);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    color: var(--primary)
}

.custom-file-input-profile:hover::before {
    border-color: black;
}

.custom-file-input-profile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom-file-input-profile {
    opacity: 1 !important;
}

.modal-header {
    border: none !important
}

.fa-window-close,
.fa-pencil-alt {
    color: var(--primary)
}

.fa-pencil-alt {
    font-size: 12px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    padding: 3px
}


.quote-input {
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--primary);
    outline: none;
    margin-bottom: 5px;
    color: var(--secondary)
}

.quote-input::placeholder {
    font-size: 12px
}

.quote-input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 12px
}

.quote-input::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 12px
}

.save {
    background-color: var(--primary) !important;
    padding: 5px !important;
    color: var(--light) !important;
    font-size: 12px !important;
    margin-left: 10px;

}

.fa-power-off {
    color: red;
}

.edit-profile-input {
    height: 0;
    overflow: hidden;
}

/*RECIPE BOOK*/

.recipe-book {
    /* border: 1px solid black; */
    width: 100%;
    margin: 10px
}


@media (min-width:600px) {

    .profile-info-div {
        margin: 10px 80px;
    }

    .profile-picture {
        width: 250px;
        height: 250px;
    }

    .edit-icon {
        width: 50px;
        height: 50px;
        top: 150px;
    }

    .nickname {
        font-size: 30px;
    }

    .quote {
        font-size: 18px;
        font-style: italic;
        margin-right: 10px !important;
    }

    .fa-pencil-alt {
        font-size: 20px;
    }

    .quote-input {
        width: 600px !important
    }

    .form-div-edit {
        display: flex;
        flex-direction: column
    }

    .quote-input::placeholder {
        font-size: 18px
    }

    .quote-input::-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 18px
    }

    .quote-input::-ms-input-placeholder {
        /* Microsoft Edge */
        font-size: 18px
    }

    .save {
        width: 10%;
        font-size: 18px !important;
    }

    .fa-power-off {
        font-size: 30px !important
    }

}

