.find-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 5px 2px;
    border-radius: 50%;
    border: 2px solid var(--primary);
}

.list-avatar {
    /* border: 1px solid grey; */
    color: var(--text)
}

.input-search-user {
    border: 2px solid var(--primary);
    border-radius: 20px;
    padding: 5px;
    overflow: hidden !important;
}

.recipe-div-user-profile {
    min-width: 300px;
    padding: 0 5px 0 0;
}

@media (min-width:600px) {
    .users-div {
        padding-top: 30px !important;
        margin: 0 180px !important;
    }

    .recipe-div-user-profile {
        min-width: 600px;
    }

    .recipes-h5 {
        font-size: 30px;
    }

    .list-avatar {
       font-size: 20px
    }
}