.ingredient-image {
    width: 30px;
    max-height: 30px;
    object-fit: contain;
    margin-right: 5px;
}

.ingredient-div {
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 10px;
    color: var(--text);

}

.ingredient-div:hover {
    background-color: var(--primary);
    color: var(--light)!important;
    -webkit-box-shadow: 0px 3px 9px 1px var(--primary);
    -moz-box-shadow: 0px 3px 9px 1px rvar(--primary);
    box-shadow: 0px 3px 9px 1px var(--primary);
}

.ingredient-div p {
    padding: 0;
    margin: 0;
}

.fa-trash-alt {
    margin-right: 8px;
    color: red;
}