.main-card {
    width: 100%;
    margin: 0 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(168, 168, 168, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(168, 168, 168, 1);
    box-shadow: 0px 0px 5px 2px rgba(168, 168, 168, 1);
}

.top-card-main {
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 2px 0
}

.recipe-image-main {
    object-fit: contain;
    height: 210px;
    width: 100%;
    background-color: var(--light)
}

.main-card-user {
    margin: 2px;
    color: var(--text);
    font-size: 16px;
}



.avatar-main {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary);
    margin-right: 5px;
}

.recipe-title-main {
    font-size: 20px;
    background-color: var(--bg);
    margin: 0;
    padding: 8px 0;
    color: var(--light);
}

.main-recipe-description {
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center
}

.main-icons {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: var(--primary);
    /* background-color: var(--light); */
    padding: 10px
}

.main-icons p {
    margin: 0 !important
}