.main-card {
    width: 100%;
    margin-bottom: 20px;
}

.top-card-main {
    display: flex;
    align-items: center;
    margin: 2px
}

.recipe-image-main {
    object-fit: cover;
    height: 270px;
    width: 100%
}

.main-card-user {
    margin: 2px;
    color: var(--text);
    font-size: 14px;
}

.avatar-main {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary);
    margin-right: 5px;
}

.recipe-title-main {
    font-size: 16px;
    background-color: var(--bg);
    margin: 0;
    padding: 5px 0;
    color: var(--light)
}

.main-recipe-description {
    padding: 0px!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center
    
}

.main-icons {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: var(--primary); 
    background-color: var(--light);
    padding: 5px
     
}

.main-icons p{
    margin: 0!important
}


