.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 5px solid var(--primary);
    border-radius: 5px;
}

.home h1 {
    font-family: 'Amita', cursive;
    font-size: 6rem;
    font-weight: 700;
    color: var(--primary)
}


.btn-home {
    margin: 0 5px !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
}



@media (min-width:600px) {
    .home {
        background-image: url(/images/brooke-lark-08bOYnH_r_E-unsplash.jpg);
        background-size: cover;
        /* border: none */
    }

    .home h1 {
        font-size: 10rem;
    }

    .btn-home {
        font-size: 1.6rem !important;
    }

    .btn-home:hover {
        padding: 6px 24px;
    }
}