.navbar {
    background-color: var(--primary);
    color: var(--light);
}

nav i {
    color: var(--light) !important
}

.navbar img{
    width: 25px;
    height: 25px;
}

.navbar p {
    font-size: 18px!important;
    margin: 0
}