.add {
    margin: 8px !important;
    /* display: flex;
    flex-direction: column; */
}

.add-input {
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--bg);
    outline: none;
    color: var(--text);
    font-size: 14px;
}

.add-number {
    width: 80px;
}

.icon-add {
    color: var(--primary)
}

.add-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text);
    opacity: 0.5;
}

.add-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--primary);
}

.add-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--primary);
}

.add-titles {
    font-size: 16px;
    color: var(--text);
}

/* .icon-add {
    padding: 0!important;
    color: #004e98;
} */

.input-ingredients {
    /* display: flex;
    align-items: center; */
    /* border: 1px solid green; */
}

.add-font {
    display: flex;
    color: #004e98;
    font-size: 14px;
}

.add-font p {
    margin-bottom: 2px !important;
    margin-right: 35px;
}

.inputs-ingredients {
    display: flex;
    flex-direction: column;

}

.add-ingredient {
    font-size: 16px;
    border-radius: 5px;
    color: var(--text);
    width: auto;
}

.input-group-add {
    background-color: var(--primary)!important;
    color: var(--light)!important;
    margin-top: 20px;
}

.btn-save-add {
    background-color: var(--primary)!important;
    color: var(--light)!important
}

.file-to-upload {
    width: 80px;
    border: 2px solid var(--primary);
    border-radius: 15px;
    padding: 15px;
}
/*
.save-recipe {
    background-color: var(--primary)!important;
    color: var(--light)!important;
    margin-top: 20px;
}

.file-input-recipe {
    
} */