.input-search {
    border: none;
    border-bottom: 1px solid var(--primary);
    width: 100%;
    padding: 5px;
    color: var(--text);
}

.btn-add {
    background-color: var(--bg) !important;
}


.input-search::placeholder {
    color: var(--text);
}

.selected {
    color: var(--text) !important;
    margin: 5px
}

.cookButton-div {
    text-align: center;
}

.btn-letscook {
    background-color: var(--bg) !important;
    margin-top: 10px !important;
    color: var(--light) !important
}

.btn-letscook:hover {
    background-color: var(--primary) !important;
}

.recipe-box {
    /* border: 1px solid blue; */
    margin: 5px !important;
    padding: 10px !important;
    display: flex;
    justify-content: space-around;


   
}

@media (min-width:600px) {
    .search-main {
        display: flex;
        justify-content: center;
    }

    .input-search {
        width: 50%;
    }
}