.input-search {
    border: none;
    border-bottom: 1px solid #13C7B6;
    width: 100%;
    padding: 5px;
    color: #004e98;
}

.btn-add {
    background-color: #f05d5e!important;
    /* padding: 0px!important;
    margin: 0px!important;
    width: 20px!important;
    height: 20px!important; */
}


.input-search::placeholder{
    color: #004e98;
}

.selected {
    color: #004e98!important;
    margin: 5px
}

.cookButton-div {
    text-align: center;
}

.btn-letscook {
    background-color: #f05d5e!important;
    margin-top: 10px!important;
}
.btn-letscook:hover {
    background-color: #13C7B6!important;
}

.recipe-box {
    margin: 5px!important;
    border-radius: 5px;
}