body{
  margin: 0;
  padding: 0;
  --primary: #13c7b6;
  --secondary: #016fb9;
  --text: #020887;
  --light: #EFEDE6;
  --bg: #bb342f
}

.container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




