body {
  margin: 0;
  padding: 0;
  --primary: #507DBC;
  --secondary: #29524A;
  --text: #28190E;
  --light: #EFEDE6;
  --bg: #FFB400
}

.container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
  color: var(--light)!important
}

.fa-trash {
  color: red !important
}

input[type="text"], input[type="password"], textarea, select { 
  outline: none;
}