body {
  margin: 0;
  padding: 0;
  --primary: #13c7b6;
  --secondary: #507DBC;
  --text: #28190E;
  --light: #EFEDE6;
  --bg: #FFB400
}

.container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none!important;
}