.auth {
    background-color: var(--primary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light);
}

.auth h2 {
    margin-bottom: 25px;
}

.input-form {
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--light);
    outline: none;
    margin-bottom: 40px;
    padding-right: 100px;
    color: var(--light);

}

.input-form::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--light);
    opacity: 0.7;
    /* Firefox */
}

.input-form::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--light);
}

.input-form::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--light);
}

.log-btn {
    margin-bottom: 10px!important;
    border: 1px solid var(--light)!important;
    color: var(--light)!important
}


.form-div {
    display: flex;
    flex-direction: column;
    align-items: center
}

.already {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.already a {
    color: var(--light);
    text-decoration-line: underline;
}

.error-message {
    color: red;
    margin: 0!important
}

@media (min-width:600px) {
    .auth h2 {
        font-size: 3rem;
    }

    .log-btn {
        font-size: 1.3rem !important;
    }

    .log-btn:hover {
        padding: 6px 24px;
        color: var(--primary) !important;
        background-color: var(--light);
    }

}