.auth {
    background-color: #13C7B6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffe2d1;
}

h2 {
    margin-bottom: 25px !important;
}

.input-form {
    border: none;
    background: transparent;
    border-bottom: 1px solid #ffe2d1;
    outline: none;
    margin-bottom: 40px;
}

.input-form::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffe2d1;
    opacity: 1;
    /* Firefox */
}

.input-form::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffe2d1;
}

.input-form::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ffe2d1;
}

.google-button {
    margin: 40px 0;
    border-radius: 5px !important;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding-right: 100px;
    color: #ffe2d1;
}

.log-btn:hover {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F05D5E;
    color: #ffe2d1 !important;
}

.form-div {
    display: flex;
    align-items: center
}